body{
    padding: 278px;
    border: 20px solid  #25D9F1;
    }
    .products{
        height: 350px;
        width: 400px;
        position: fixed;
        margin-left: 610px;
        margin-top: -180px;
        
   } 
     
   .font1{
        font-weight: bold;
        font-family: "bevan",sans-serif;
        position: fixed;
        top: 50px;
        right: 300px;
    }
   .font2{
        font-weight: bold;
        font-family: "bevan",sans-serif;
        position: fixed;
        top: 50px;
        right: 200px;
    }
    .font3{
        font-weight: bold;
        font-family: "bevan",sans-serif;
        position: fixed;
        top: 50px;
        right: 80px;
       
    }
   
    .delta{
        position: fixed;
        top: 20px;
        left: 20px;
        height: 90px;
        width: 90px;
     }
     .font4{
        font-style: italic;
        font-family: "arialnovacond=lightitalic",sans-serif;
        font-size: 20px;
        position: fixed;
        top: 30px;
        left: 95px;
    }
    .font5{
        font-style: italic;
        font-family: "arialNovacond- lightitalic",sans-serif;
       font-size: 20px;
        position: fixed;
        top: 30px;
        left: 95px;
    }
    .p1{
        font-weight: bold;  
        font-family: "bevan",sans-serif;
        font-size: 18px;
        position: fixed;
        top: 75px;
        left: 130px;
    }
    .p2{
        font-weight: normal;  
        font-family: "bevan",sans-serif;
        font-size: 30px;
        position: fixed;
        top: 95px;
        left: 130px;
    }
    a.link1{
        background-color: #FE8505;
        border: none;
        border-radius: 8px;
        color: white;
        padding: 5px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        position: fixed;
        top: 220px;
        left: 130px;
    }
    a.link2{
        background-color: #FE8505;
        border: none;
        border-radius: 8px;
        color: white;
        padding: 5px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        position: fixed;
        top: 220px;
        left: 280px;
    }
    a.link1:hover{
        background-color: #FE05FE;
    }
    a.link2:hover{
        background-color: #FE05FE;
    }
    .p3{
        font-weight: bold;  
        font-family: "bevan",sans-serif;
        font-size: 20px;
        position: fixed;
        top: 250px;
        left: 110px;
    }
    .p4{
        font-style: bold;
        font-family:"bevan",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        position: fixed;
        top: 490px;
        left: 110px;
    }
    .girl{
        position: fixed;
        top: 140px;
        left: 90px;
    }
    .delta{
        position: flex;
        top:20px;
        left: 30px;
        height: 90px;
        width: 90px;
    }
     a.font1:link{
        text-decoration: none;
     }
    
     a.font1:visited{
        color:#25D9F1 ;
        text-decoration: underline;
     }
     a.font2:link{
        text-decoration: none;
     }
    
     a.font2:visited{
        color:#25D9F1 ;
        text-decoration: underline;
     }
     a.font3:link{
        text-decoration: none;
     }
     
     a.font3:visited{
        color:#25D9F1 ;
        text-decoration: underline;
     }
     
     .container{
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
     }
     .slide-container{
        max-width: 1120px;
        width: 60%;
        padding: 30px 0px;
       
     }
     .card{
      border-radius: 15px;
      background-color: #FFF;
      width: 110px;
      height: 70px;
      border: 1px solid black;
      box-shadow: 3px 3px 5px #aaaaaa;
        padding: 60px 0px 50px;

     }
     .image-content,
     .card-content{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1px 1px;
     }
     .slide-content{
      margin: 0px 35px 0px 1px;
     }
     .card-image{
      position: relative;
      height: 120px;
      width: 185px;
      border-radius: 10%;
      background: #FFF;
      padding: 2px;
        top: -60px;
     }
     .card-image .card-img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 5%;
     
     }
     .name{
      font-weight:bold;
      font-family: "bevan",sans-serif;
      font-size: 18px;
      margin-top: -55px;

     }
     .description{
      font-style: italic;
      color: orange;
      font-size: 18px;
      margin-top:-10px;
    }
    .arrow1{
        position: relative;
        
        bottom: 0cm;
        right: 5cm;
    }
    .arrow2{
        position: absolute;
        top: 8.5cm;
        right: 25cm;
    }
    .swiper-navBtn{
        color: #aaaaaa;
        transition: color 0.3s ease;
    }
    .swiper-navBtn:hover{
        color:brown;
    }
    .swiper-navBtn::before,
    .swiper-navBtn::after{
        font-size: 40px;
    }
    .swiper-button-next{
        right: 20px;;
    }
    .swiper-button-prev{
        left: 20px;;
    }
    .swiper-pagination-bullet{
        background-color: whitesmoke;
        opacity: 1;
    }
    .swiper-pagination-bullet-active{
        background-color: antiquewhite;
    }
    @media screen and(max-width:450px) {
        .slide-content{
            margin: 0 10px;
        }
        .swiper-navBtn{
            display: none;
        }
        
    }
    .slider{
        position: fixed;
        top: 90px; ;
        right: 320px;
    }
    .logo1{
        position:fixed ;
        height: 60px;
        width: 130px;
        bottom: 20px;
        left: 140px;
    }
    .logo2{
        position: fixed;
        height: 60px;
        width: 240px;
        bottom: 20px;
        left: 290px;
    }
    .logo3{
        position: fixed;
        height: 100px;
        width: 200px;
        bottom: 3px;
        left: 490px;
    }
    .logo4{
        position: fixed;
        height: 70px;
        width:250px;
        bottom: 18px;
        right: 430px;
    }
     .logo5{
        position: fixed;
        height: 100px;
        width:150px;
        bottom: 2px;
        right: 270px;
    
      }
     a.font2:hover{
        color: #FE8505;
     }
     a.font1:hover{
        color: #FE8505;
     }
     a.font3:hover{
        color: #FE8505;
     }
    